.title-dark {
  font-family: Helvetica;
  color: $text_dark;
  letter-spacing: 0;
}

.title-grey {
  font-family: Helvetica;
  color: $text-grey;
  letter-spacing: 0;
  line-height: 22px;
}

.title-light {
  font-family: Helvetica;
  color: #A8A8A8;
  letter-spacing: 0;
  line-height: 22px;
}