<div class="card-food">
  <div class="food-img">
    <img src="@@foodImg" alt="food">
  </div>
  <div class="food-details">
    <div class="food-name">
      <p class="title-dark">@@foodName</p>
    </div>
    <div class="food-at">
      <div class="at-tm">
        <span>± @@foodTime mins</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewbox="0 0 16 16">
          <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
        </svg>
        <span>@@foodIngre ingredients</span>
      </div>
      <div class="at-btn">
        <button class="title-grey">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewbox="0 0 16 16">
            <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
          </svg>
          Cook
        </button>
      </div>
    </div>
  </div>
</div>