<div class="card-author" style="background-image: url('@@imageAuthorFood');">
  <div class="author-top"></div>
  <div class="author-bottom">
    <p class="author-title title-dark">@@nameAuthor</p>
    <div class="author-arc">
      <div class="arc-recipes">
        <p class="title-dark arc-nummber">@@recipesAuthor</p>
        <p class="title-grey arc-text">recipes</p>
      </div>
      <div class="arc-follow">
        <p class="title-dark arc-nummber">@@followAuthor</p>
        <p class="title-grey arc-text">followers</p>
      </div>
    </div>
  </div>
  <div class="author-avatar">
    <img src="@@imageAuthor" alt="author-avatar">
  </div>
</div>