<div class="b-card" style="background-image:url('@@foodImage')">
  <div class="card-info">
    <div class="card-avatar">
      <div>
        <img src="@@avatarCard" alt="avatar">
      </div>
    </div>
    <div class="info-name">
      <p class="name-txt title-dark">@@nameCard</p>
      <p class="name-time title-grey">@@timeCreate  ago</p>
    </div>
  </div>
  <div class="card-hollow"> </div>
  <div class="card-details">
    <div class="food-name title-dark">
      <h4>@@foodName</h4>
    </div>
    <div class="food-desc title-light">
      <p>@@foodDesc</p>
    </div>
    <div class="food-tt">
      <div class="like-cmm title-grey">
        <p>@@foodLike likes</p>
        <span>.</span>
        <p>@@foodComment comments</p>
      </div>
        <button class="food-btn" >
          <span>+</span>
          <span>Save</span>
        </button>
    </div>
  </div>
  <div class="dsk-modal" >
    <div class="modal-content">
      <div class="modal-title">
        <p class="til title-dark">Save to</p>
        <span class="title-grey dsk-close">X</span>
      </div>
      <p class="modal-item title-light">Western</p>
      <p class="modal-item title-light">Quick Lunch</p>
      <p class="modal-item title-light">Vegies</p>
      <div class="modal-btn">
        <a href="/" class="title-light">+ Add New Cookbook</a>
      </div>
    </div>
  </div>
</div>