<div class="wrap d-flex p-2 flex-column box-other">
  <div class="d-flex flex-row ot-up">
    <div class="ot-image">
      <img src="@@urlImage" alt="other profile">
    </div>
    <div class="ot-info d-flex flex-column">
      <p class="ot-name title-dark">@@nameAccount</p>
      <p class="ot-wrk title-grey" style="margin-bottom: 0.3rem;">@@nameCv</p>
      <p class="title-grey d-flex justify-content-between align-items-center">
        <span>@@numberFollow followers</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dot" viewbox="0 0 20 20">
          <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
        </svg>
        <span>@@numberLike likes</span>
      </p>
    </div>
  </div>
  <button class="ot-btn text-white">Follow</button>
</div>